@charset "utf-8";
@font-face { 
  font-family: 'SourceHanSansCN-Bold'; 
  src: url('../font/SourceHanSansCN-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#container {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background:url(../img/k_bg.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.top {
	position: absolute;
	top:100px;
	left: 0;
	width: 100%;
	text-align: center;
}
.tonghua {
	position: absolute;
	top:-59px;
	left: 50%;
	margin-left: -50px;
	opacity: 0;
}
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.tonghua_show {
	opacity: 1;
	-webkit-animation: bounceIn 0.4s;
	animation: bounceIn 0.4s;
}
.touxiang_circle,
.tonghua_dumiao {
	position: absolute;
	top:0;
	left: 50%;
	width: 256px;
	height: 256px;
	margin-left: -130px;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	opacity: .6;
}
.tonghua_dumiao {
	display: none;
	width: 260px;
	height: 260px;
	border: none;
	-webkit-border-radius: none;
	border-radius: none;
}
.canvas {
	position: absolute;
	top:0;
	left: 0;
}
.second {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 22px;
	opacity: 1;
}
.touxiang {
	position: absolute;
	top:30px;
	left: 50%;
	margin-left: -100px;
	z-index: 2;
}
.address {
	margin-top:280px;
}
.jieting {
	position: absolute;
	bottom:80px;
	left: 50%;
	z-index: 9;
	margin-left: -248px;
	width: 496px;
	height: 309px;
	background: url(../img/k_jieting.png) no-repeat;
}
.jieting_btn {
	position: absolute;
	top: 160px;
	left: 178px;
	width: 136px;
	height: 136px;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	opacity: .8;
}
.btn_inner {
	width: 8px;
	height: 8px;
	margin: 62px auto 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
}

@-webkit-keyframes bounceLarge {
	0% {
		-webkit-transform:sclae(1);
	}
	60% {
		-webkit-transform:scale(1.4);
	}
	100% {
		-webkit-transform: scale(1.1);
	}
}
@keyframes bounceLarge {
	0% {
		transform:sclae(1);
	}
	60% {
		transform:scale(1.4);
	}
	100% {
		transform: scale(1.1);
	}
}
.jieting_down {
	-webkit-animation: bounceLarge 0.1s linear;
	animation: bounceLarge 0.1s linear;
}

.keybord {
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height: 856px;
	background:url(../img/k_keybord.png) no-repeat;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	opacity: 0;
}
.hungUp_btn {
	position: absolute;
	left: 0;
	bottom: 80px;
  z-index: 999;
	width: 100%;
	height: 140px;
	background: url(../img/icon_hungUp.png) center center no-repeat;
}
.hungUp_btn:active {
	opacity: .8;
}

@-webkit-keyframes keybordUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes keybordUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.keybordUp {
  z-index: 99;
	opacity: 1;
	-webkit-animation: keybordUp 0.5s linear;
	animation: keybordUp 0.5s linear;
}
.keybordUp .hungUp_btn {
  z-index: 99;
}

.message {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f6f6f6 url(../img/k_msg_bot.jpg) left bottom no-repeat;
  opacity: 0;
}
.message_on {
  opacity: 1;
  -webkit-animation: bounceIn 0.4s;
  animation: bounceIn 0.4s;
}
.message img {
  display: none;
  margin: 30px 0 0 20px;
} 

/************ answer ************/
#mainSwiper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #3e3a39;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#mainSwiper.on {
  z-index: 102;
  opacity: 1;
}
.swiper-container,
.swiper-wrapper,
.swiper-slide {
  height: 100%;
}
.swiper-container {
  overflow: hidden;
}
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px) scale(0.8);
    transform: translateY(-50px) scale(0.8);
    opacity: .4;
  }
}
.upArrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -38px;
  -webkit-animation: upDown 1.2s ease-out infinite;
  animation: upDown 1.2s ease-out infinite;
}

/***** loading ******/
#loading {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #333;
}
#loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
}
/******* page1 ******/
.page1_img {
  position: absolute;
}
.page1_title {
  top: 50%;
  left: 0;
  margin-top: -200px;
}
.page1_icon {
  top: 40px;
  right: 40px;
}

/************ page2 **************/
.page2_inner {
  position: absolute;
  top:20px;
  left: 0;
  width: 640px;
  height: 912px;
  background:url(../img/p2_bg.png) no-repeat;
}
.page2_num {
  position: absolute;
  font-family: 'SourceHanSansCN-Bold';
  font-weight: 800;
  letter-spacing: -5px;
  text-align: center;
}
.page2_num1 {
  top:127px;
  left: 47px;
  width: 104px;
  height: 165px;
  line-height: 170px;
  font-size: 170px;
  color: #79dfbb;
}
.page2_num2 {
  top:198px;
  left: 352px;
  width: 242px;
  height: 104px;
  line-height: 110px;
  font-size: 105px;
  color: #5d72c9;
}
.page2_num3 {
  top: 292px;
  left: 255px;
  width: 104px;
  height: 56px;
  line-height: 62px;
  font-size: 56px;
  color: #e7ae6e;
}
.page2_num4 {
  top:348px;
  left: 354px;
  width: 157px;
  height: 88px;
  line-height: 96px;
  font-size: 100px;
  color: #f5836e;
}
.page2_num5 {
  top:594px;
  right: 34px;
  width: 308px;
  height: 150px;
  line-height: 155px;
  font-size: 165px;
  color: #4f9abf;
}
.page2_num6 {
  bottom: 23px;
  right: 42px;
  width: 374px;
  height: 68px;
  line-height: 74px;
  font-size: 68px;
  color: #79dfbb;
}


/****** page3 *******/
.p3_img {
  display: block;
}
.page3_1 {
  padding-top: 60px;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
}
.icon_box {
  padding-top: 40px;
}
.icon_con {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 20px;
}

.p3_13 {
  margin-top: 40px;
}
.page3_2 {
  position: relative;
  height: 233px;
  margin-top:40px;
}
.p3_14 {
  position: absolute;
  bottom: 0;
  left: 60px;
}
.p3_15 {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -22px;
}
.p3_16 {
  position: absolute;
  bottom: 0;
  right: 60px;
}

/****** page4 ******/
.page4_1 {
  padding-top: 40px;
}
.page4_1 img {
  display: block;
}
.p4_03 {
  margin-top: 140px;
}
.page4_2 {
  padding-top:20px;
}
.p4_icon_box {
  float: left;
  width: 20%;
  text-align: center;
}
.page4_3 {
  margin-top: 40px;
  text-align: center;
}

/******* page5 ******/
.page5_inner {
  padding-top: 40px;
}
.page5_inner img {
  display: block;
}
.p5_06 {
  position: absolute;
  left: 0;
  bottom: 0;
}

/***** page6 ****/
.page6_inner {
  padding-top: 60px;
}
.p6_link {
  display: block;
}
.p6_link1 {
  margin-top: 120px;
}
.p6_link2 {
  position: relative;
  z-index: 99;
  margin-top: 20px;
}
.p6_05 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.page6_mask {
  display: none;
  position: absolute;
  z-index: 88;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/tip_icon.png) right top no-repeat rgba(0,0,0,.7);
}
.tip_icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
